---
import { IndexPage } from "../components/IndexPage";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-4xl w-full p-8 font-bold text-center">
    Generador de Horarios Escolares
  </h1>
  <IndexPage client:only="react" />
</Layout>
